<p id="notice"><%= notice %></p>

<h1>Items</h1>

<%= form_tag(items_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% @items.each do |item| %>
  <ul>
    <li> <%= link_to item.name, item_path(item) %> </li>
  </ul>
<% end %>

<%= link_to "Add New Item", new_item_path %>
