<p id="notice"><%= notice %></p>

<h1> <%= @item.name %> </h1>

<h2>Posted by <%= @creator.username %> </h2>
<p>
  <strong>Name:</strong>
  <%= @item.name %>
  <br>
  <strong>Description:</strong>
    <%= @item.description %>
  <br>
  <strong>Image:</strong>
    <%= @item.image_url %>
    <br>
  <strong>Youtube:</strong>
    <%= @item.youtube_url %>
    <br>
  <strong>Purchase URL: </strong>
    <%= @item.purchase_url %>
    <br>
  <strong> Reviews: </strong>


<br>

    <% @reviews.each do |review| %>
        <p> Posted by <%= review.user.username %>:<br>  <%= review.body %></p>
          <% if review.user == current_user %>
            <%= link_to 'Delete Review', item_review_path(@item, review), method: :delete %>
            <%= link_to "Edit", edit_item_review_path(@item, review) %>
        <% end %>
    <% end %>

<br   />


<%= render "reviews/review_form", item: @item, review: @review %>

<% if @creator == current_user %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Delete Item', @item, method: :delete%>
<% end %>
