
<h1> <%= @item.name %> </h1>

<h2>Posted by <%= @creator.username %> </h2>
<p>
  <strong>Name:</strong>
  <%= @item.name %>
  <br>
  <strong>Description:</strong>
    <%= @item.description %>
  <br>
  <strong>Image:</strong>
    <%= @item.image_url %>

  <% if @item.youtube_url.nil? == false %>
    <strong> Video: </strong><br>
    <iframe width="560" height="315" src='https://www.youtube.com/embed/<%= @embed %>' frameborder="0" allowfullscreen></iframe><br>
  <% end %>

  <strong>Purchase URL: </strong>
    <%= @item.purchase_url %>
    <br>
  <strong> Reviews: </strong>
<br>
  <% if @creator == current_user %>
    <%= link_to 'Edit Item', edit_item_path(@item) %> |
    <%= link_to 'Delete Item', @item, method: :delete%>
  <% end %>

  <% reviews_all = @item.reviews %>
  <% reviews_all.each do |review| %>
  <% @reviews_start += review.rating %>
  <% end %>


<% if @reviews_start / reviews_all.count.to_f > 0 %>
  <h1>RATING : <%= (@reviews_start / reviews_all.count.to_f).round(1) %> out of 5 stars! </h1>
  <h2>Total reviews: <%= reviews_all.count %> </h2>
<% else %>
  <h1>Be the first to review this item!</h1>
<% end %>

<div>

  <% @reviews.each do |review| %>
      <p><%= review.user.username %> said:<br><%= review.body %> <br> Rating: <%= review.rating %></p>
        <% if review.user == current_user %>
          <%= link_to 'Delete Review', item_review_path(@item, review), method: :delete %> |
          <%= link_to "Edit Review", edit_item_review_path(@item, review) %>
      <% end %>
  <% end %>

</div>

<% if user_signed_in? %>
  <%= render "reviews/review_form", item: @item, review: @review %>
<% end %>
